
.body-present {
    position: relative;
}

.body-present::after {
    content: "";

    background:  linear-gradient(233.13deg, #2DB7E6 40.26%, #38EBCB 79.99%);
    clip-path: polygon(0 35%, 100% 0, 100% 65%, 0 100%);
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
}

.body-present__video {
    position: relative;
    padding-top: 100px;
}

.body-present__content {
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.body-present__title {
}

.button__play {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 20%;
    padding-left: 45%;
    display: none;
}

.body-present__container {
    position: relative;
    display: flex;
    flex-direction: column;
}

.body-present__container:hover .button__play{
    display: block;
    cursor: pointer;
}

